In [1]:
import pandas as pd

In [12]:
# Load data
calendar_df = pd.read_excel("AdventureWorks_Database.xlsx", sheet_name="Calender")
customer_df = pd.read_excel("AdventureWorks_Database.xlsx", sheet_name="Customers")
product_df = pd.read_excel("AdventureWorks_Database.xlsx", sheet_name="Product")
territory_df = pd.read_excel("AdventureWorks_Database.xlsx", sheet_name="Territory")
sales_df = pd.read_excel("AdventureWorks_Database.xlsx", sheet_name="Sales")
budget_df = pd.read_excel("Budget.xlsx", skiprows=3)

In [13]:
# Explore data
print("Calendar Data Info:")
print(calendar_df.info())
print("\nCustomer Data Info:")
print(customer_df.info())
print("\nProduct Data Info:")
print(product_df.info())
print("\nTerritory Data Info:")
print(territory_df.info())
print("\nSales Data Info:")
print(sales_df.info())
print("\nBudget Data Info:")
print(budget_df.info())

# Check for missing values
print("\nMissing Values in Calendar Data:")
print(calendar_df.isnull().sum())
print("\nMissing Values in Customer Data:")
print(customer_df.isnull().sum())
print("\nMissing Values in Product Data:")
print(product_df.isnull().sum())
print("\nMissing Values in Territory Data:")
print(territory_df.isnull().sum())
print("\nMissing Values in Sales Data:")
print(sales_df.isnull().sum())
print("\nMissing Values in Budget Data:")
print(budget_df.isnull().sum())

# Handling missing values
# Example: Filling missing values with mean
calendar_df.fillna(calendar_df.mean(), inplace=True)
customer_df.fillna(customer_df.mean(), inplace=True)
product_df.fillna(product_df.mean(), inplace=True)
territory_df.fillna(territory_df.mean(), inplace=True)
sales_df.fillna(sales_df.mean(), inplace=True)
budget_df.fillna(budget_df.mean(), inplace=True)

# Check for duplicates
print("\nDuplicate Rows in Calendar Data:")
print(calendar_df.duplicated().sum())
print("\nDuplicate Rows in Customer Data:")
print(customer_df.duplicated().sum())
print("\nDuplicate Rows in Product Data:")
print(product_df.duplicated().sum())
print("\nDuplicate Rows in Territory Data:")
print(territory_df.duplicated().sum())
print("\nDuplicate Rows in Sales Data:")
print(sales_df.duplicated().sum())
print("\nDuplicate Rows in Budget Data:")
print(budget_df.duplicated().sum())

Calendar Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1461 entries, 0 to 1460
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            1461 non-null   datetime64[ns]
 1   DateKey         1461 non-null   int64
 2   Year            1461 non-null   int64
 3   Quarter         1461 non-null   object
 4   MonthNum        1461 non-null   int64
 5   Month           1461 non-null   object
 6   FiscalYear      1461 non-null   object
 7   FiscalQuarter   1461 non-null   object
 8   FiscalMonthNum  1461 non-null   int64
 9   FiscalMonth     1461 non-null   object
 10  MonthYear       1461 non-null   object
 11  MonthYearLong   1461 non-null   object
 12  MonthYearNum    1461 non-null   int64
 13  WeekdayNum      1461 non-null   int64
 14  Weekday         1461 non-null   object
 15  WeekdayWeekend  1461 non-null   object
dtypes: datetime64[ns](1), int64(6), object(9)
memory usage: 182.8+ KB
None

Customer Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18484 entries, 0 to 18483
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CustomerKey           18484 non-null  int64
 1   FirstName             18484 non-null  object
 2   LastName              18484 non-null  object
 3   FullName              18484 non-null  object
 4   BirthDate             18484 non-null  datetime64[ns]
 5   MaritalStatus         18484 non-null  object
 6   Gender                18484 non-null  object
 7   YearlyIncome          18484 non-null  int64
 8   TotalChildren         18484 non-null  int64
 9   NumberChildrenAtHome  18484 non-null  int64
 10  Education             18484 non-null  object
 11  Occupation            18484 non-null  object
 12  HouseOwnerFlag        18484 non-null  int64
 13  NumberCarsOwned       18484 non-null  int64
 14  AddressLine1          18484 non-null  object
 15  DateFirstPurchase     17918 non-null  datetime64[ns]
 16  CommuteDistance       18484 non-null  object
dtypes: datetime64[ns](2), int64(6), object(9)
memory usage: 2.4+ MB
None

Product Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 606 entries, 0 to 605
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ProductKey          606 non-null    int64
 1   ProductName         606 non-null    object
 2   SubCategory         397 non-null    object
 3   Category            397 non-null    object
 4   StandardCost        395 non-null    float64
 5   Color               352 non-null    object
 6   ListPrice           395 non-null    float64
 7   DaysToManufacture   606 non-null    int64
 8   ProductLine         380 non-null    object
 9   ModelName           397 non-null    object
 10  Photo               606 non-null    object
 11  ProductDescription  396 non-null    object
 12  StartDate           606 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(2), object(8)
memory usage: 61.7+ KB
None

Territory Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   SalesTerritoryKey  11 non-null     int64
 1   Region             10 non-null     object
 2   Country            10 non-null     object
 3   Group              10 non-null     object
 4   RegionImage        11 non-null     object
dtypes: int64(1), object(4)
memory usage: 572.0+ bytes
None

Sales Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58189 entries, 0 to 58188
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ProductKey            58189 non-null  int64
 1   OrderDate             58189 non-null  datetime64[ns]
 2   ShipDate              58189 non-null  datetime64[ns]
 3   CustomerKey           58189 non-null  int64
 4   PromotionKey          58189 non-null  int64
 5   SalesTerritoryKey     58189 non-null  int64
 6   SalesOrderNumber      58189 non-null  object
 7   SalesOrderLineNumber  58189 non-null  int64
 8   OrderQuantity         58189 non-null  int64
 9   UnitPrice             58189 non-null  float64
 10  TotalProductCost      58189 non-null  float64
 11  SalesAmount           58189 non-null  float64
 12  TaxAmt                58189 non-null  float64
 13  Unnamed: 13           0 non-null      float64
 14  Unnamed: 14           0 non-null      float64
 15  Unnamed: 15           58189 non-null  float64
 16  Unnamed: 16           58189 non-null  float64
 17  Unnamed: 17           0 non-null      float64
 18  Unnamed: 18           58189 non-null  float64
 19  Unnamed: 19           0 non-null      float64
 20  StandardCost          58189 non-null  float64
 21  List Price            58189 non-null  float64
 22  Unnamed: 22           0 non-null      float64
 23  diif std cost         58189 non-null  int64
 24  diff list price       58189 non-null  int64
dtypes: datetime64[ns](2), float64(14), int64(8), object(1)
memory usage: 11.1+ MB
None

Budget Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Category     21 non-null     object
 1   Subcategory  17 non-null     object
 2   ProductName  17 non-null     object
 3   ProductKey   17 non-null     float64
 4   Jan, 2016    21 non-null     int64
 5   Feb, 2016    21 non-null     int64
 6   Mar, 2016    21 non-null     int64
 7   Apr, 2016    21 non-null     int64
 8   May, 2016    21 non-null     int64
 9   Jun, 2016    21 non-null     int64
 10  Jul, 2016    21 non-null     int64
 11  Aug, 2016    21 non-null     int64
 12  Sep, 2016    21 non-null     int64
 13  Oct, 2016    21 non-null     int64
 14  Nov, 2016    21 non-null     int64
 15  Dec, 2016    21 non-null     int64
 16  Grand Total  21 non-null     int64
dtypes: float64(1), int64(13), object(3)
memory usage: 2.9+ KB
None

Missing Values in Calendar Data:
Date              0
DateKey           0
Year              0
Quarter           0
MonthNum          0
Month             0
FiscalYear        0
FiscalQuarter     0
FiscalMonthNum    0
FiscalMonth       0
MonthYear         0
MonthYearLong     0
MonthYearNum      0
WeekdayNum        0
Weekday           0
WeekdayWeekend    0
dtype: int64

Missing Values in Customer Data:
CustomerKey               0
FirstName                 0
LastName                  0
FullName                  0
BirthDate                 0
MaritalStatus             0
Gender                    0
YearlyIncome              0
TotalChildren             0
NumberChildrenAtHome      0
Education                 0
Occupation                0
HouseOwnerFlag            0
NumberCarsOwned           0
AddressLine1              0
DateFirstPurchase       566
CommuteDistance           0
dtype: int64

Missing Values in Product Data:
ProductKey              0
ProductName             0
SubCategory           209
Category              209
StandardCost          211
Color                 254
ListPrice             211
DaysToManufacture       0
ProductLine           226
ModelName             209
Photo                   0
ProductDescription    210
StartDate               0
dtype: int64

Missing Values in Territory Data:
SalesTerritoryKey    0
Region               1
Country              1
Group                1
RegionImage          0
dtype: int64

Missing Values in Sales Data:
ProductKey                  0
OrderDate                   0
ShipDate                    0
CustomerKey                 0
PromotionKey                0
SalesTerritoryKey           0
SalesOrderNumber            0
SalesOrderLineNumber        0
OrderQuantity               0
UnitPrice                   0
TotalProductCost            0
SalesAmount                 0
TaxAmt                      0
Unnamed: 13             58189
Unnamed: 14             58189
Unnamed: 15                 0
Unnamed: 16                 0
Unnamed: 17             58189
Unnamed: 18                 0
Unnamed: 19             58189
StandardCost                0
List Price                  0
Unnamed: 22             58189
diif std cost               0
diff list price             0
dtype: int64

Missing Values in Budget Data:
Category       0
Subcategory    4
ProductName    4
ProductKey     4
Jan, 2016      0
Feb, 2016      0
Mar, 2016      0
Apr, 2016      0
May, 2016      0
Jun, 2016      0
Jul, 2016      0
Aug, 2016      0
Sep, 2016      0
Oct, 2016      0
Nov, 2016      0
Dec, 2016      0
Grand Total    0
dtype: int64

C:\Users\lubna\AppData\Local\Temp\ipykernel_19932\853851996.py:31: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  calendar_df.fillna(calendar_df.mean(), inplace=True)
C:\Users\lubna\AppData\Local\Temp\ipykernel_19932\853851996.py:31: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  calendar_df.fillna(calendar_df.mean(), inplace=True)
C:\Users\lubna\AppData\Local\Temp\ipykernel_19932\853851996.py:32: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  customer_df.fillna(customer_df.mean(), inplace=True)
C:\Users\lubna\AppData\Local\Temp\ipykernel_19932\853851996.py:32: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  customer_df.fillna(customer_df.mean(), inplace=True)
C:\Users\lubna\AppData\Local\Temp\ipykernel_19932\853851996.py:33: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  product_df.fillna(product_df.mean(), inplace=True)
C:\Users\lubna\AppData\Local\Temp\ipykernel_19932\853851996.py:33: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  product_df.fillna(product_df.mean(), inplace=True)
C:\Users\lubna\AppData\Local\Temp\ipykernel_19932\853851996.py:34: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  territory_df.fillna(territory_df.mean(), inplace=True)
C:\Users\lubna\AppData\Local\Temp\ipykernel_19932\853851996.py:35: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  sales_df.fillna(sales_df.mean(), inplace=True)

Duplicate Rows in Calendar Data:
0

Duplicate Rows in Customer Data:
0

Duplicate Rows in Product Data:
0

Duplicate Rows in Territory Data:
0

Duplicate Rows in Sales Data:
0

Duplicate Rows in Budget Data:
0

C:\Users\lubna\AppData\Local\Temp\ipykernel_19932\853851996.py:35: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  sales_df.fillna(sales_df.mean(), inplace=True)
C:\Users\lubna\AppData\Local\Temp\ipykernel_19932\853851996.py:36: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  budget_df.fillna(budget_df.mean(), inplace=True)

In [20]:
# Calculate key metrics
total_sales = sales_df['SalesAmount'].sum()
average_sales = sales_df['SalesAmount'].mean()
top_selling_products = sales_df.groupby('ProductKey')['SalesAmount'].sum().sort_values(ascending=False).head(5)

# Customer demographics
average_income_by_education = customer_df.groupby('Education')['YearlyIncome'].mean()
average_income_by_occupation = customer_df.groupby('Occupation')['YearlyIncome'].mean()

# Analyze factors affecting sales and budget variances 
budget_total = budget_df[['Jan, 2016', 'Feb, 2016', 'Mar, 2016', 'Apr, 2016', 'May, 2016', 'Jun, 2016', 'Jul, 2016', 'Aug, 2016', 'Sep, 2016', 'Oct, 2016', 'Nov, 2016', 'Dec, 2016']].sum().sum()
variance = total_sales - budget_total

# Display key metrics and factors
print("Key Metrics:")
print(f"Total Sales: {total_sales}")
print(f"Average Sales: {average_sales}")
print("\nTop Selling Products:")
print(top_selling_products)

print("\nCustomer Demographics:")
print("Average Income by Education:")
print(average_income_by_education)
print("\nAverage Income by Occupation:")
print(average_income_by_occupation)

print("\nFactors Affecting Sales and Budget Variances:")
print("Total Budget:")
print(budget_total)
print("Variance:")
print(variance)

Key Metrics:
Total Sales: 29307836.590699993
Average Sales: 503.666270097441

Top Selling Products:
ProductKey
312    1205876.99
310    1202298.72
313    1080637.54
314    1055589.65
311    1005493.87
Name: SalesAmount, dtype: float64

Customer Demographics:
Average Income by Education:
Education
Bachelors              64395.070948
Graduate Degree        66095.954845
High School            49049.787492
Partial College        55211.295419
Partial High School    39468.690702
Name: YearlyIncome, dtype: float64

Average Income by Occupation:
Occupation
Clerical          30710.382514
Management        92325.203252
Manual            16451.342282
Professional      74184.782609
Skilled Manual    51715.097225
Name: YearlyIncome, dtype: float64

Factors Affecting Sales and Budget Variances:
Total Budget:
50608722
Variance:
-21300885.409300007